body {
    background-color: #888888;
    font-family: Arial;
    height: 100%;
    margin: 0 auto;
    overflow-x:hidden;
    
}

main { 
    margin: 0 auto;
    width: 100%;
    height:100%;
    position: relative;
}
.menu-principal {
    width: 100%;
    background-color: black;
    height: 65px;
}

.logo-pequeno {
    padding-left: 30px;
    padding-top: 7px;
    float: left;
    width: 85%;
}
.minha-conta-foto {
    padding-right: 0px;
    padding-top: 8px;
    float: left;
    width: 0%;
}

.minha-conta > a{
    color: white;
    padding-right: 30px;
    padding-top: 25px;
    float: right;
}

.desc{
    color:white;
    font-size: 180%;
    font-family: Segoe UI;
    font-weight: bold;
    text-align: left;
    margin-left: 5%;
    margin-top: 20%;
    text-shadow: 1px 1px black;
}
.eqp{
    color: white;
    font-size: 300%;
    font-family: Arial;
    margin-top: 18%;
    margin-left: 25%;
}
.card2{
    display: flex;
    justify-content: center;
    
}

.carla{
    width: 200px;
    margin-top: 2%;
    position: relative;
    text-align: center;
}
.gi{
    position: absolute;
    width: 100%;
    margin-top: 10%;
    left: 7%;
    margin-top: 2%;
}
.angel{
    position: absolute;
    width: 100%;
    margin-top: 2%;
    left:76%;
}
.card1{
    display: flex;
    justify-content: center;
    
}

.beli{
    width: 200px;
    margin-top: 7%;
    position: relative;
    text-align: center;
}
.lice{
    position: absolute;
    width: 100%;
    margin-top: 7%;
    left: 7%;
}
.clara{
    position: absolute;
    width: 100%;
    margin-top: 7%;
    left:76%;
}
.nome{
    font-weight: bold;
}
.desc2{
    text-align: justify;
}
.fc{
    font-family: Arial;
    font-size: 250%;
    color: white;
    text-align: center;
}
.insta{
    margin-left: 0,01%;
    margin-top: 1%;
}
.email{
    margin-left: 5%;
    margin-top: 1%;
}
.card3{
    margin-top: 1%;
    display: flex;
    justify-content: center;
}
.space{
    font-size: 150%;
    color:transparent;
}



