body {
    background-color: #888888;
    font-family: Arial;
    height: 100%;
    margin: 0 auto;
}

main { 
    margin: 0 auto;
    width: 100%;
    height:100%;
    position: relative;
}
.menu-principal {
    width: 100%;
    background-color: black;
    height: 65px;
}

.logo-pequeno {
    padding-left: 30px;
    padding-top: 7px;
    float: left;
    width: 85%;
}
.minha-conta-foto {
    padding-right: 0px;
    padding-top: 8px;
    float: left;
    width: 0%;
}

.minha-conta > a{
    color: white;
    padding-right: 30px;
    padding-top: 25px;
    float: right;
}
.PROVAS {
    width: 100%;
    background-color: rgb(97,165,194);
    height: 150px;
}
.red{
    float: left;
    margin-left: 35%;
    margin-top: 2%;
}
.nome {
    color: white;
    font-size: 53px;
    padding-top: 3.2%;
    text-align: center;
    margin-right: 35%;
}

.card-1 {
    background-color: transparent0;
    width: 100%;
    height: 110px;
}
.icone-vg {
    padding-left: 5%;
    padding-top: 2.5%;
    float: left;
    margin-left: 32%;
}

.vg > a{
    color: black;
    font-size: 20px;
    padding-left: 0.7%;
    padding-top: 3.3%;
    float: left;
}
.red1{
    margin-left: 25%;
}
/*mexe no botão GERAR ARQUIVO*/
.botao-ger-arq > button {
    background-color: #032034;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 0.85%;
    margin-top: 4%;
    margin-left: 62%;
    margin-bottom: 2%;
    border: 0px;
    outline: 0;
    font-size: 20px;
    float: left;
    width: 15%;
}

/*mexe no botão GERAR ARQUIVO*/
.botao-imp > button {
    background-color: #032034;
    color: #FFFFFF;
    border-radius: 10px;
    padding-top: 0.5%;
    padding-left: 0.85%;
    padding-right: 0.85%;
    padding-bottom: 0.2%;
    margin-top: 4%;
    margin-right: 7%;
    margin-bottom: 2%;
    border: 0px;
    outline: 0;
    font-size: 20px;
    float: right;
    width: 15%;
}

.imprimir {
    float: right;
    padding-right: 19px;
    padding-top: 4px;
}