/* CSS DA TELA DE CADASTRO*/

/*mexe no tamanho na tela inteira do navegador*/
body {
    background-color: #888888;
    font-family: Arial;
    height: 100%;
    margin: 0 auto;
}

/*mexe em toda a tela do navegador*/
main { 
    margin: 0 auto;
    width: 100%;
    height:100%;
    position: relative;
}

/*div em cima / menu na parte de cima*/
.menu-principal {
    width: 100%;
    background-color: black;
    height: 65px;
}

/*foto da logo no canto esquerdo superior*/
.logo-pequeno {
    padding-left: 30px;
    padding-top: 7px;
    float: left;
    width: 35%;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*mexe no tamanho da caixa preta, chama-se formulário*/
.form {
    width: 50%;
    margin: auto;
    padding-top: 5px;
}

/*mexe nas características da caixa preta inteira*/
.card {
    box-shadow: 1px 1px 5px #363636;
    background-color: #000000;
    opacity: 0.7;
    padding-left: 40px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 20px;
    margin-top: 40px;
}

/*mexe no título da caixa preta, na frase que está no html*/
.title {
    color: white;
}
.card-top {
    text-align: center;
}

/*mexe no título dos campos de inserção*/
.card-group > label {
    color: white;
    padding-left: 20px;
    display: block;
}

/*mexe nos campos de inserção do formulário*/
.card-group > input {
    border-radius: 25px;
    outline: 0;
    width: 100%;
    height: 40px;
    padding-left: 17px;
    border: 0px;
    margin-bottom: 15px;
}

/*mexe na linha sublinhada que manda pra tela de login*/
.para-login {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.para-login > a {
    background-color: transparent;
    color: white;
    border: 0px;
    outline: 0;
    font-size: 18px;
}

/*mexe no botão INSCREVER-SE*/
.card-group1 {
    text-align: center;
    padding-top: 20px;
}
.card-group1 > button {
    background-color: #808080;
    color: white;
    border-radius: 30px;
    padding: 12px;
    border: 0px;
    outline: 0;
    width: 200px;
    font-size: 20px;
}