/* CSS DA TELA DE EDITAR PROVAS*/

/*mexe no tamanho na tela inteira do navegador*/
body {
    background-color: #888888;
    font-family: Arial;
    height: 100%;
    margin: 0 auto;
}

/*mexe em toda a tela do navegador*/
main { 
    margin: 0 auto;
    width: 100%;
    height:100%;
    position: relative;
}

/*///////////////////////////////////////////////////////////////////////////////////*/

/*div em cima / menu na parte de cima*/
.menu-principal {
    width: 100%;
    background-color: black;
    height: 65px;
}

/*foto da logo no canto esquerdo superior*/
.logo-pequeno {
    padding-left: 30px;
    padding-top: 7px;
    float: left;
    width: 85%;
}

/*mexe no icone do MINHA CONTA*/
.minha-conta-foto {
    padding-right: 0px;
    padding-top: 8px;
    float: left;
    width: 0%;
}

/*mexe no MINHA CONTA*/
.minha-conta > a{
    color: white;
    padding-right: 30px;
    padding-top: 25px;
    float: right;
}

/*///////////////////////////////////////////////////////////////////////////////////*/

/*mexe no tamanho do card de trás, que é invisível, chama-se formulário*/
.form {
    padding-top: 80px;
}

/*mexe nas características do card invisível*/
.card-por-trás {
    background-color: transparent;
    margin: auto;
    width: 80%;
}

/*mexe nas características do card azul claro*/
.card-branco {
    background-color: #FFFFFF;
    opacity: 0.7;
    border-radius: 7px;
    padding-left: 40px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin: auto;
    width: 50%;
}

/*mexe no nome dos temas dos campos de inserção*/
.titulo-prova > input {
    background-color: #E0DCDC;
    font-size: 18px;
    border-radius: 10px;
    outline: 0;
    width: 100%;
    height: 40px;
    padding-left: 15px;
    border: 1.5px solid #707070;
}

/*mexe na frase*/
.frase {
    font-size: 18px;
    padding-top: 25px;
    width: 70%;
}

/*mexe no card horizontal, com as caixas de inserção e seus nomes*/
.card {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

/*mexe  no título das caixas de inserção*/
.card > label {
    color: #032034;
    font-size: 18px;
    padding-top: 5px;
}

/*mexe  nas caixas de inserção do formulário*/
.card > input {
    outline: 0;
    width: 9%;
    height: 27px;
    padding-left: 15px;
    margin-right: 280px;
    border: 1px solid #003272;
}

/*///////////////////////////////////////////////////////////////////////////////////*/

/*mexe no botão CONTINUAR*/
.card-botao > button {
    background-color: #032034;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 12px;
    margin-top: 70px;
    margin-bottom: 20px;
    border: 0px;
    outline: 0;
    width: 15%;
    font-size: 20px;
    float: right;
}