/* CSS PRIMEIRA-TELA-USUARIO-COM-CADASTRO */

body {
    background-color: #888888;
    font-family: Arial;
    height: 100%;
    margin: 0 auto;
}

main { 
    margin: 0 auto;
    width: 100%;
    height:100%;
    position: relative;
}

.menu-principal {
    width: 100%;
    background-color: black;
    height: 65px;
}

.logo-pequeno {
    padding-left: 2.3%;
    padding-top: 7px;
    float: left;
    width: 32.7%;
}

.sair > a{
    color: white;
    font-size: 16px;
    padding-top: 25px;
    width: 26%;
    float: left;
}

.contato > a{
    color: white;
    padding-top: 25px;
    width: 26%;
    float: left;
}

.minha-conta-foto {
    padding-top: 8px;
    float: left;
}

.minha-conta > a{
    color: white;
    padding-right: 2.3%;
    padding-top: 25px;
    float: right;
}

/*////////////////////////////////*/

.botoes {
    width:100%;
    padding-top: 0px;
    background-color: transparent;
}

.botao-gerar-provas > button {
    background-color: black;
    opacity: 0.6;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 20%;
    color: #F0F8FF;
    border: 3px solid #363636;
    outline: 0;
    font-size: 23px;
    margin-left: 26.3%;
    margin-top: 230px;
    float: left;
}

.botao-forum > button {
    background-color: black;
    opacity: 0.6;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 20%;
    color: #F0F8FF;
    border: 3px solid #363636;
    outline: 0;
    font-size: 23px;
    margin-right: 26.3%;
    margin-top: 230px;
    float: right;
}
