/* CSS DA TELA DE PROVA*/


body {
    background-color: #888888;
    font-family: Arial;
    height: 100%;
    margin: 0 auto;
}

main { 
    margin: 0 auto;
    width: 100%;
    height:100%;
    position: relative;
}

.menu-principal {
    width: 100%;
    background-color: black;
    height: 65px;
}

.logo-pequeno {
    padding-left: 30px;
    padding-top: 7px;
    float: left;
    width: 85%;
}

.minha-conta-foto {
    padding-right: 0px;
    padding-top: 8px;
    float: left;
    width: 0%;
}


.minha-conta > a{
    color: white;
    padding-right: 30px;
    padding-top: 25px;
    float: right;
}



.PROVAS {
    width: 100%;
    background-color: #013257;
    height: 150px;
}

.nome {
    color: white;
    font-size: 53px;
    padding-top: 3.2%;
    text-align: center;
}


.card-1 {
    background-color: transparent;
    width: 100%;
    height: 80px;
}

.icone-vp {
    padding-left: 7%;
    padding-top: 2.5%;
    float: left;
}

.vp > a{
    color: black;
    font-size: 20px;
    padding-left: 0.7%;
    padding-top: 3.3%;
    float: left;
}

.icone-vg {
    padding-left: 5%;
    padding-top: 2.5%;
    float: left;
}

.vg > a{
    color: black;
    font-size: 20px;
    padding-left: 0.7%;
    padding-top: 3.3%;
    float: left;
}

.icone-snp {
    padding-left: 27%;
    padding-top: 2.2%;
    float: left;
}

.snp {
    color: black;
    font-size: 20px;
    padding-right: 7%;
    padding-top: 3.3%;
    float: right;
}

.risco-p {
    padding-left: 7%;
}


.titulo-prova > input {
    background-color: white;
    font-size: 18px;
    border-radius: 15px;
    width: 55%;
    outline: 0;
    height: 50px;
    padding-left: 2%;
    margin-left: 7%;
    margin-top: 2%;
    margin-bottom: 4%;
    border: 3px solid #BDBCBC;
}


.card-por-trás {
    background-color: transparent;
    width: 86%;
    margin: auto;
}

.num-questao > a {
    font-size: 26px;
    color: black;
}

.segundo-card {
    display: flex;
    justify-content: space-between;
}


.card-da-questao {
    background-color: white;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2px;
    width: 88%;
    border-radius: 7px;
    border: 3px solid #7E7E7E;
    float: left;
}

.card-direita {
    padding-top: 2%;
}


.questao {
    color: #000000;
    font-size: 20px;
}

.botao-trocar {
    margin-top: 1.5%;
    margin-bottom: 4%;
}

.botao-trocar > a {
    background-color: white;
    color: #003272;
    border-radius: 7px;
    padding: 5px;
    border: 3px solid #E3E3E3;
    outline: 0;
    font-size: 18px;
}


.botao-ger-arq > button {
    background-color: #032034;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 0.85%;
    margin-top: 4%;
    margin-left: 62%;
    margin-bottom: 2%;
    border: 0px;
    outline: 0;
    font-size: 20px;
    float: left;
    width: 15%;
}


.botao-imp > button {
    background-color: #032034;
    color: #FFFFFF;
    border-radius: 10px;
    padding-top: 0.5%;
    padding-left: 0.85%;
    padding-right: 0.85%;
    padding-bottom: 0.2%;
    margin-top: 4%;
    margin-right: 7%;
    margin-bottom: 2%;
    border: 0px;
    outline: 0;
    font-size: 20px;
    float: right;
    width: 15%;
}

.imprimir {
    float: right;
    padding-right: 19px;
    padding-top: 4px;
}