/* CSS TELA-INICIAL-DO-SISTEMA*/

body {
    background-color: #888888;
    font-family: Arial;
    height: 100%;
}

main { 
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.menu-principal {
    width: 100%;
    background-color: transparent;
    height: 100px;
}

.logo-pequeno {
    padding-left: 100px;
    padding-top: 15px;
    float: left;
    width: 28.4%;
}

.direitos > a{
    color: #F0F8FF;
    float: left;
    padding-top: 36px;
    width: 17.7%;
}

.quem-somos > a {
    color: #F0F8FF;
    float: left;
    padding-top: 36px;
    width: 17.7%;
}

.risquinho > a {
    float: left;
    padding-top: 26px;
    width: 3.7%;
}

.inscrever-se > a{
    color: #F0F8FF;
    float: left;
    padding-top: 36px;
}

.login > a{
    color: #F0F8FF;
    padding-right: 100px;
    float: right;
    padding-top: 36px;
}

.botao-sem-cadastro > button {
    background-color: #696969;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    color: #F0F8FF;
    border: 0px;
    outline: 0;
    font-size: 23px;
    margin-left: 50px;
    margin-top: 440px;
    border-radius: 10px;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

.card-1 {
    width:100%;
    padding-top: 30px;
    background-color: transparent;
}

.card-2 {
    width:100%;
    padding-top: 30px;
    background-color: transparent;
}

.caixinha1 {
    box-shadow: 1px 1px 5px #696969;
    background-color: #1C1C1C;
    padding-top: 20px;
    padding-bottom: 80px;
    border-radius: 3px;
    float: left;
    width: 25%;
    margin-left: 140px;
    margin-top: 350px;
}
.caixinha2 {
    box-shadow: 1px 1px 5px #696969;
    background-color: #1C1C1C;
    padding-top: 20px;
    padding-bottom: 38px;
    border-radius: 3px;
    float: left;
    width: 25%;
    margin-left: 28px;
    margin-top: 350px;
}

.caixinha3 {
    box-shadow: 1px 1px 5px #696969;
    background-color: #1C1C1C;
    padding-top: 20px;
    padding-bottom: 59px;
    border-radius: 3px;
    float: right;
    width: 25%;
    margin-right: 140px;
    margin-top: 350px;
}

.caixinha4 {
    box-shadow: 1px 1px 5px #696969;
    background-color: #1C1C1C;
    padding-top: 20px;
    padding-bottom: 40px;
    border-radius: 3px;
    float: left;
    width: 25%;
    margin-left: 270px;
    margin-top: 220px;
    margin-bottom: 100px;
}

.caixinha5 {
    box-shadow: 1px 1px 5px #696969;
    background-color: #1C1C1C;
    padding-top: 20px;
    padding-bottom: 82px;
    border-radius: 3px;
    float: right;
    width: 25%;
    margin-right: 270px;
    margin-top: 220px;
    margin-bottom: 100px;
}

.titulo-caixinhas {
    color: #F0F8FF;
    font-size: 23px;
    text-align: center;
}

.icone-caixinhas {
    padding-top: 25px;
    text-align: center;
}

.descricao-caixinhas {
    color: #F0F8FF;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
    text-align: center;
}