/* CSS DA TELA DE TEMAS DE HISTÓRIA*/

/*mexe no tamanho na tela inteira do navegador*/
body {
    background-color: #888888;
    font-family: Arial;
    height: 100%;
    margin: 0 auto;
}

/*mexe em toda a tela do navegador*/
main { 
    margin: 0 auto;
    width: 100%;
    height:100%;
    position: relative;
}

/*///////////////////////////////////////////////////////////////////////////////////*/

/*div em cima / menu na parte de cima*/
.menu-principal {
    width: 100%;
    background-color: black;
    height: 65px;
}

/*foto da logo no canto esquerdo superior*/
.logo-pequeno {
    padding-left: 30px;
    padding-top: 7px;
    float: left;
    width: 85%;
}

/*mexe no icone do MINHA CONTA*/
.minha-conta-foto {
    padding-right: 0px;
    padding-top: 8px;
    float: left;
    width: 0%;
}

/*mexe no MINHA CONTA*/
.minha-conta > a{
    color: white;
    padding-right: 30px;
    padding-top: 25px;
    float: right;
}

/*///////////////////////////////////////////////////////////////////////////////////*/

/*div do titulo da matéria*/
.BIOLOGIA {
    width: 100%;
    background-color: #2A6F97;
    height: 150px;
}

/*mexe no icone da matéria no título*/
.icone-bio {
    padding-left: 38%;
    padding-top: 22px;
    float: left;
}

.nome {
    color: white;
    font-size: 40px;
    padding-top: 53px;
    padding-right: 38%;
    float: right;
}

/*///////////////////////////////////////////////////////////////////////////////////*/

.card-azul {
    width:100%;
    text-align: center;
    background-color: transparent;
}

.caixa-azul {
    background-color: #B7CEEE;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    border: 1px solid black;
    width: 80%;
    margin-top: 60px;
    margin-left: 10%;
    float: left;
}

.titulo-caixinha {
    color: black;
    font-size: 20px;
}

/*///////////////////////////////////////////////////////////////////////////////////*/

/*mexe no tamanho do card de trás, que é invisível, chama-se formulário*/
.form {
    width: 85%;
    margin: auto;
    padding-top: 30px;
}

/*mexe nas características do card invisível*/
.card-por-trás {
    background-color: transparent;
    margin-top: 150px;
}

/*mexe nas características do card azul claro*/
.card-azul-claro {
    background-color: #DFE7F2;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

/*mexe no nome dos temas dos campos de inserção*/
.nome-tema {
    color: #000000;
    float: left;
    padding-top: 9px;
}

/*mexe  nas caixas de inserção do formulário*/
.qnt-qst > input {
    border-radius: 5px;
    outline: 0;
    width: 20%;
    height: 27px;
    padding-left: 15px;
    margin-left: 10px;
    border: 2px solid #003272;
    float: right;
}

/*///////////////////////////////////////////////////////////////////////////////////*/

/*mexe no botão CONTINUAR*/
.card-botao > button {
    background-color: #032034;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 12px;
    margin-top: 40px;
    margin-bottom: 20px;
    border: 0px;
    outline: 0;
    width: 15%;
    font-size: 20px;
    float: right;
}