/* CSS DA TELA DE DIREITOS AUTORAIS*/

/*mexe no tamanho na tela inteira do navegador*/
body {
    background-color: white;
    font-family: Arial;
    height: 100%;
    margin: 0 auto;
}

/*mexe em toda a tela do navegador*/
main { 
    margin: 0 auto;
    width: 100%;
    height:100%;
    position: relative;
}

/*///////////////////////////////////////////////////////////////////////////////////*/

/*div em cima / menu na parte de cima*/
.menu-principal {
    width: 100%;
    background-color: black;
    height: 65px;
}

/*foto da logo no canto esquerdo superior*/
.logo-pequeno {
    padding-left: 30px;
    padding-top: 7px;
    float: left;
    width: 85%;
}

/*mexe no icone do MINHA CONTA*/
.minha-conta-foto {
    padding-right: 0px;
    padding-top: 8px;
    float: left;
    width: 0%;
}

/*mexe no MINHA CONTA*/
.minha-conta > a{
    color: white;
    padding-right: 30px;
    padding-top: 25px;
    float: right;
}

/*///////////////////////////////////////////////////////////////////////////////////*/

.title {
    font-size: 40px;
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

/*mexe nas características da caixa preta inteira*/
.card {
    width: 40%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding-top: 1.5%;
    padding-bottom: 0.7%;
    padding-left: 6%;
    padding-right: 6%;
    margin: auto;
}

.card-texto {
    font-size: 18px;
    padding-bottom: 2%;
}