body {
    background-color: #888888;
    font-family: Arial;
}

.title-logo {
    text-align: center;
    padding-top: 50px;
}

.form {
    width: 500px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 50px;
}

.card {
    box-shadow: 1px 1px 5px #777373;
    background-color: #000000;
    opacity: 0.8;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 55%
}

.card-top {
    text-align: center;
}

.card-group {
    margin-bottom: 15px;
}

.card-group > label {
    color: #f0f0f0;
    display: block;
}

.card-group > input {
    border-radius: 25px;
    outline: 0;
    width: 100%;
    height: 35px;
    padding-left: 17px;
    border: 0px;
}

.card-group > select {
    border-radius: 25px;
    outline: 0;
    width: 30%;
    height: 35px;
    padding-left: 17px;
    border: 0px;
}

.card-group > button {
    color: rgb(240, 235, 235);
    border-radius: 30px;
    padding: 12px;
    color: rgb(0, 0, 0);
    border: 10px;
    outline: 0;
    width: 150px;
    font-size: 18px;
    margin-left: 235px;
}

.card-group > a {
    background-color: transparent;
    color: white;
    text-decoration: underline;
    border: 0px;
    outline: 0;
    font-size: 15px;
}

.title {
    color: white;
}

.data-nasci {
    color:white ;
}

.para-login > a {
    background-color: transparent;
    color: white;
    text-decoration: underline;
    padding-left: 350px;
    border: 0px;
    outline: 0;
    font-size: 18px;
}

.para-cadastro > a {
    background-color: transparent;
    color: white;
    text-decoration: underline;
    padding-left: 350px;
    border: 0px;
    outline: 0;
    font-size: 18px;
}